.area{
    background-image: linear-gradient(to right, #b7b7b7, #c3c4c5, #cdd1d4, #d7dfe1, #e2edec, #e2edec, #e2edec, #e2edec, #d7dfe1, #cdd1d4, #c3c4c5, #b7b7b7);

}
.footer-fijo {
    background: radial-gradient(circle at 50% 30%, #c71585, #be177e, #b41a77, #ac1b71, #a31d6b, #9a1f65, #92205f, #8a215a, #822255, #7a2350, #72244b, #6b2447);
    position: relative;
    left: 50%;
    bottom: 0;
    width: 100%; /* Establezca al 100% para que sea responsivo */
    max-width: 1200px; /* Puede ajustar el max-width según sus necesidades */
    height: 150px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 80px;
    transform: translateX(-50%);
    border-radius: 35px 35px 0 0;
    z-index: 995;
    padding: 0 20px; /* Asegúrate de tener algo de espacio en los lados */

}

.datos{
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; 
    height: 20px;
    position: relative;
    top: 40%;
    gap: 1px
}

.datos ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        border-radius: 20px;
        overflow: hidden;
}

.datos ul li{
    list-style: none;
    text-align: center;
    flex: 1;
}



.ovalo {
    background: radial-gradient(circle at 50% 30%, #c71585, #be177e, #b41a77, #ac1b71, #a31d6b, #9a1f65, #92205f, #8a215a, #822255, #7a2350, #72244b, #6b2447);
    width: 35%; /* Ancho del óvalo */
    height: 60px;
    background-color: #4CAF50;
    border-radius: 30px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnRedes {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 30px;
}

.btnRedes i {
    font-size: 20px;
    color: #ffffff;
    position: relative;
    top: -110%;
    left: 12%;
    transition: color 0.3s, text-shadow 0.3s; 

}


.btnRedes a:hover{
    background: transparent;
    box-shadow: 0 0 5px 5px #fff;
}

.btnRedes a {
    padding: 5px 10px 5px 5px !important;
        border-radius: 50px;
        border: solid 1px #ffff;
        position: relative;
        height: 37px;
        transition: color 0.3s, text-shadow 0.3s; 
}





.contactenos{
display: flex;
flex-direction: column;
top: 25%;
position: relative;
}