<div class="area">
  <footer class="footer-fijo">
  <div class="datos">
    <ul>
      <li>3118521183</li>
      <li>Bogotá D.C.</li>
      <li>fajasytextiles&#64;gmail.com</li>
    </ul>
</div>
    <div class="ovalo"></div>
    <div class="btnRedes">
        <a href="https://web.facebook.com/comfatex.co" target="_blank"> <i class="bi bi-facebook facebook-icon"></i></a>
        <a href="https://www.instagram.com/comfatex.co/" target="_blank"><i class="bi bi-instagram instagram-icon"></i></a>
        <a href="https://wa.me/+573118521183" target="_blank"><i class="bi bi-whatsapp whatsapp-icon"></i></a>
      </div>
</footer>
</div>
