@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

.menu {
    background: linear-gradient(to right, #E13BFE, #3708FC);
    overflow: hidden;
    font-family: 'Philosopher', sans-serif;
    margin: 0; /* Eliminar el margen */
    padding: 0; /* Eliminar el relleno */
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    flex: 1;
    text-align: center;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #555;
}

.menu .logo {
    flex: 2;
}

.menu img {
    max-width: 200px;
    height: auto;
    padding-top: 10px;
}

.menu ul::before,
.menu ul::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: transparent; /* Eliminar el borde superior e inferior */
    position: absolute;
    top: 0;
    left: 0;
}

