/* header.component.css */
.menu {
    background-image: red; /* Reemplaza con la URL de tu imagen de fondo */
    background-size: cover;
    backdrop-filter: blur(10px); /* Aplica el efecto de vidrio */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo con transparencia para el efecto de vidrio */
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  
  .menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0; /* Agrega esta línea para eliminar el margen */
  }
  
  .menu ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .menu ul li:last-child {
    margin-right: 0;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .menu ul li a:hover {
    color: #128c7e; /* Cambiar color al pasar el mouse */
  }
  
  .menu ul li a img {
    width: 100px; /* Tamaño deseado para el logo */
    height: auto;
  }
  
  /* Ajusta el contenido principal para evitar superposiciones */
  .content {
    margin-top: 60px; /* Ajusta el valor según la altura del menú de navegación */
    padding: 20px;
  }
  