@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

.menu {
    background: linear-gradient(to right, #E13BFE, #3708FC);
    overflow: hidden;
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.menu li {
    text-align: center;
    flex: 1;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s; /* Cambiamos el color y el color del borde en el hover */
    position: relative;
    box-sizing: border-box;
}

.menu li:hover a {
    color: #fff; /* Cambia el color del texto al hover */
    border-color: #fff; /* Muestra el borde en blanco en el hover */
    text-shadow: 0 0 5px white;
}

.menu .logo {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu img {
    max-width: 200px;
    height: auto;
    padding: 10px;
}

.menu .social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .social a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
