<nav class="menu">
    <div class="Inicio">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Fajas</a></li>
        <li><a href="#">Insumos</a></li>
  </ul>
  </div>
  <div class="logoInicio">
    <li class="logo"><img src="/assets/img/Horizontal.png" alt="Logo"></li>
  </div>
  <div class="btnRedes">
      <li class="social"><a href="https://web.facebook.com/comfatex.co" target="_blank"> <i class="bi bi-facebook facebook-icon"></i></a></li>
      <li class="social"><a href="https://www.instagram.com/comfatex.co/" target="_blank"><i class="bi bi-instagram instagram-icon"></i></a></li>
      <li class="social"><a href="https://wa.me/+573118521183" target="_blank"><i class="bi bi-whatsapp whatsapp-icon"></i></a></li>
    </div>
    <a href="#">¡Contáctanos!</a>
</nav>
