.container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  
  .whatsapp-icon:hover {
    background-color: #128c7e; /* Cambiamos el color de fondo al pasar el mouse */
  }
  
  .whatsapp-icon img {
    width: 30px; /* Tamaño deseado en píxeles */
    height: auto; /* Mantiene la proporción de aspecto */
    margin: 7px 0px 1px 7px;

  }
  .whatsapp-icon{
    background-color: #ffffff; 
    width: 45px; 
    height: 45px; 
    border-radius: 40px;
  }
  